<?xml version="1.0" encoding="UTF-8"?>
<netcdf xmlns="http://www.unidata.ucar.edu/namespaces/netcdf/ncml-2.2">
  <attribute name="size" type="int" value="{{ size }}" />
  <attribute name="size_human" value="{{ size|filesizeformat }}" />

  <variable name="time" orgName="time">
    <attribute name="units" value="{{ time_units }}" />
    <values start="{{ time_start }}" increment="{{ time_increment }}" />
  </variable>

  <aggregation type="union">
  	{% for name,aggregation in aggregations %}
    <netcdf>
      <aggregation type="joinExisting" dimName="time">
	  {% for t in aggregation[['time_ncoords']].iterrows() %}
        <netcdf location="{{ t[0] }}" ncoords="{{ t[1]|int }}" />
	  {% endfor %}
      </aggregation>
    </netcdf>
  	{% endfor %}
    {% for fx in fxs -%}
    <netcdf location="{{ fx }}" />
    {% endfor %}
  </aggregation>
</netcdf>
